.cart-container {
  position: relative;
  flex-wrap: wrap;
  gap: 20px;
}

.cart-heading {
  padding-top: 1rem;
  text-align: center;
}

.des p {
  font-size: 14px;
}

.modal img {
  width: 80px;
  mix-blend-mode: darken;
}

.modal,
.total-content {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #ddd;
  padding: 1rem;
}
.modals {
  flex: 1;
}

.buy-now-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #2756c1;
  color: #fff;
}

.trash-icon {
  font-size: 20px;
  fill: red;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .modal img {
    width: 90px;
    height: 100px;
  }
  .des p {
    font-size: 10px;
    background: red;
  }

  .total-content,
  .modal {
    flex: 1;
  }
}
