.product-info {
  display: flex;
  /* flex-direction: column; */
  margin: 5px auto !important;
}

.left-content img {
  max-width: 100%;
  max-height: 300px;
  mix-blend-mode: darken;
  object-fit: contain;
}

.right-content {
  align-items: start;
}
.right-content p {
  font-size: 15px;
}

.right-content .icon {
  font-size: 15px;
}

/* .add-to-cart {
  border: none;
  padding: 0.5rem;
  background: #d81b60;
  color: #fff;
  border-radius: 5px;
} */

@media screen and (max-width: 1050px) {
  .product-info {
    flex-direction: column;
  }
}
