.bottom-image {
  width: 200px;
}

.first-child {
  color: #000;
  font-weight: bold;
}

.footer-container {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  /* bottom: 0; */
}

.top-footer {
  padding: 1rem 0rem 0rem 0rem;
}

.bottom-footer {
  padding: 1rem;
  height: auto;
  background: #fff;
}

.footer-container .icon {
  font-size: 1.4rem;
  fill: #838383;
}

.left-footer p {
  margin: 0;
}

@media screen and (max-width: 550px) {
  .top-footer {
    flex-direction: column;
    align-items: start;
  }

  .bottom-image {
    margin-left: 40px;
  }

  .right ul {
    flex-wrap: wrap;
  }
}
