@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

::root {
  --gray-color--: #e2e4e7;
  --color--: #000;
  --white--: #fff;
  --box-shadow--: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --ligh--: ;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  align-items: center;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.gap {
  gap: 15px;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.content {
  width: 100%;
}

.start {
  /* justify-content: start; */
  align-items: start;
}
